<%= form_for(@galleryimage) do |f| %>
  <% if @galleryimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galleryimage.errors.count, "error") %> prohibited this galleryimage from being saved:</h2>

      <ul>
      <% @galleryimage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Image' %> <%= @galleryimage.item.url %><br />
    <%= f.file_field :item %>
  </div><br/>
 <div class="field">
    <%= f.label 'Title Image' %> <%= @galleryimage.titleimage.url %><br />
    <%= f.file_field :titleimage %>
  </div><br/>
 <div class="field">
    <%= f.label 'Share Icon Image URL' %><br />
    <%= f.text_area :copy %>
  </div><br/>

  
 <div class="field">
    <%= f.label 'Facebook Share Image URL' %><br />
    <%= f.text_area :fb_link %>
  </div><br/>
 <div class="field">
    <%= f.label 'Facebook Title' %><br />
    <%= f.text_field :fb_title %>
  </div><br/>
 <div class="field">
    <%= f.label 'Facebook Copy' %><br />
    <%= f.text_area :fb_copy %>
  </div><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
