<h1>Listing Gallery Images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

<% @galleryimages.each do |galleryimage| %>
  <tr>
    <td><%= image_tag galleryimage.item.url %></td>
      <td><%= link_to 'Edit', edit_galleryimage_path(galleryimage)   %></td>

    <td><%= link_to 'Delete', galleryimage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery Image', new_galleryimage_path %>
