<script src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29838818-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="fb-root-wrapper">
<div id="fb-root"></div>
</div>
<script>
// now buggy by Facebook API
// FB.UIServer.Methods["feed"].size = {width:450, height:270};

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '400302213341521', // App ID
      channelUrl : '//<%= request.host_with_port %>/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Canvas.setSize({ height: 1150 });
    window.fbAsyncInit = function () {
      FB.Canvas.setAutoResize();
    }
    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<script>
function initiate_feed() 
{
FB.ui(
  {
   method: 'feed',
   message: 'Facebook Connect',
   name: '<%= escape_javascript(@result.facebook_subject) if @result.facebook_subject.present?  %>',
   description: '<%= escape_javascript(@result.facebook_copy) if @result.facebook_copy.present? %>',
   link: 'http://www.be-an-active-natural.com/',
   picture: '<%= escape_javascript(@result.fb_share_image_link) if @result.fb_share_image_link.present? %>',
   actions: [
        { name: 'Aveeno® Profile Scanner', link: 'http://www.be-an-active-natural.com/' }
   ],
  user_message_prompt: 'This message prompt'
  },
  function(response) {
    if (response && response.post_id) {
      toggle_coupon();
    } else {
      //alert('Post was not published.');
    }
  }
);
}
</script>
<div id="result_content_wrapper" style="background-image: url('<%= @result.background.url %>');">
  <div id="result_header">
   
  </div>
  <div id="result_content">
    
    <div id="what_that_means">
      <h2 style="color: <%= @result.color %>"><%= image_tag @result.whatthatmeansheading.url %></h2>
      <hr/>
      <%= @result.what_that_means.html_safe %>
    </div>

    <div id="friends_and_family">
      <h2 style="color:  <%= @result.color %>"><%= image_tag @result.friendsandfamilyheading.url %></h2>
      <hr/>
      <%= @result.friends_and_family.html_safe %>
    </div>

    <div id="in_nature">
      <h2 style="color:  <%= @result.color %>"><%= image_tag @result.innatureheading.url %></h2>
      <hr/>
      <%= @result.in_nature.html_safe %>
    </div>

    <div id="beautiful_change_idea">
      <h2 style="color:  <%= @result.color %>"><%= image_tag @result.beautifulchangeideaheading.url %></h2>
      <hr/>
      <%= @result.beautiful_change_idea.html_safe %>
    </div>
   
         <div id="coupon">
  
	<h3>THANKS FOR SHARING YOUR ACTIVE NATURAL SIDE!</h3>
	<hr/><b>Click here</b> for $1 off our AVEENO® PURE RENEWEL&#153; Hair Care Collection
	  <br/>
	  <a id="redeemnow" href="http://www.ddb01.com/Dipal/aveeno_coupon/index.php" target="_blank" onClick="_gaq.push(['_trackEvent','Results', 'click_redeem_coupon']); "><img src="/Redeem_now.png" border="0"/></a><a href="/" id="goback" onClick="_gaq.push(['_trackEvent','Results', 'click_back']); ">< Go Back</a>
      </div>
     
<div><a id="facebook_dialog_link" onclick="initiate_feed();_gaq.push(['_trackEvent','Results', 'share_results_low']);"><img src="/ShareYourStory.png" border="0"  /></a></div>
    

    <div id="product_area">
      <h3>PRODUCTS FEATURING YOUR ACTIVE NATURALS<sup>&reg;</sup> INGREDIENT </h3>
      <hr/>
      <img id="product_image" style="left: <%= @result.product_image_xoffset %>px;top: <%= @result.product_image_yoffset %>px;" border="0" src="<%= @result.product %>" /> <span id="product_title"><%= @result.product_title.html_safe %></span>
	<div id="product_description">
	  <%= @result.product_description.html_safe %><br/><br/>
	  <a href="<%= @result.product_link %>" target="_blank" border="0"><img src="/Shop_Now.png" border="0"  onClick="_gaq.push(['_trackEvent','Results', 'click_show_now']); "></a>
	</div>
    </div>
  </div>
</div>
