<div id="result_content_wrapper" style="background-image: url('<%= @result.background.url %>');">
  <div id="result_header">
    <img src="<%= @result.header.url %>" />
  </div>
  <div id="result_content">
    

    <p>
      <h2 style="color: <%= @result.color %>">What That Means:</h2>
      <hr/>
      <%= @result.what_that_means.html_safe %>
    </p>

    <p>
      <h2 style="color:  <%= @result.color %>">Friends and Family:</h2>
      <hr/>
      <%= @result.friends_and_family.html_safe %>
    </p>

    <p>
      <h2 style="color:  <%= @result.color %>">In Nature:</h2>
      <hr/>
      <%= @result.in_nature.html_safe %>
    </p>

    <p>
      <h2 style="color:  <%= @result.color %>">Beautiful Change Idea:</h2>
      <hr/>
      <%= @result.beautiful_change_idea.html_safe %>
    </p>
    
    <a href="#" id="share_coupon_link"><img src="/Shop_Now.png" border="0" /></a>
    <div id="coupon">
      <h3>THANKS FOR SHARING YOUR ACTIVE NATURAL SIDE!</h3>
      <hr/>
      <b>Please enjoy $1 OFF</b> non-discounted items at <b>aveenostore.com<b/> with the following
	<b>promo code: BAAN2012</b><br/>
	<a href="http://www.aveenostore.com"><img src="/Redeem_now.png" /></a><a href="/index.html" id="goback">< Go Back</a>
    </div>
    <div id="product_area">
      <h3>PRODUCTS FEATURING YOUR ACTIVE NATURALS<sup>&reg;</sup> INGREDIENT </h3>
      <hr/>
      <img id="product_image" border="0" src="<%= @result.product %>" /> <h3><%= @result.product_title.html_safe %></h3>
	<div id="product_description">
	  <%= @result.product_description.html_safe %><br/>
	  <a href="http://www.aveenostore.com"><img src="/Shop_Now.png"></a>
	</div>
    </div>
  </div>
</div>