<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/application.css" />
<link rel="stylesheet" type="text/css" href="/assets/skin.css" />


<script src="/assets/index.js" ></script>
<script src="/assets/jquery.jcarousel.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29838818-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
// initialize the carousel

$(document).ready(function() {
	//FB.login();
      $('#our_commitment_gallery').jcarousel({
		visible: 1,
		scroll: 1,
		initCallback: mycarousel_initCallback,
		itemLoadCallback: newVisibleItemCallback,
		buttonNextHTML: null,
		buttonPrevHTML: null
	});

      // data for carousel
     $.data(document.body, 'current_fb_name', '');
     $.data(document.body, 'current_fb_description', '');
     $.data(document.body, 'current_fb_link', '');

     
});


function mycarousel_initCallback(carousel)
{
	$('img#navigate-right').click(function() {
		_gaq.push(['_trackEvent','Landing Page', 'click_image_right',$.data(document.body, 'current_fb_name')]);
		carousel.next();
		
	});
		
	$('img#navigate-left').click(function() {
		_gaq.push(['_trackEvent','Landing Page', 'click_image_left',$.data(document.body, 'current_fb_name')]);	
		carousel.prev();
		
	});

	 $('img#gallery_header').attr("src", $(".jcarousel-item").eq(carousel.first -1).children('img').attr("header_url"));
	$.data(document.body, 'current_fb_name', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_title"));
	$.data(document.body, 'current_fb_description', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_description"));
	$.data(document.body, 'current_fb_link', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_link"));
	$.data(document.body, 'current_fb_share_icon', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("icon_link"));
  	
}

function newVisibleItemCallback(carousel, item)
{
 // console.log($(".jcarousel-item").eq(carousel.first).attr("src"));
 // console.log($(".jcarousel-item").eq(carousel.first  -1).children('img').attr("src"));
  //console.log($(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("header_url"));
  //console.log(carousel.first);
  $('img#gallery_header').attr("src", $(".jcarousel-item").eq(carousel.first -1).children('img').attr("header_url"));
   $.data(document.body, 'current_fb_name', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_title"));
   $.data(document.body, 'current_fb_description', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_description"));
   $.data(document.body, 'current_fb_link', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_link"));
   $.data(document.body, 'current_fb_share_icon', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("icon_link"));
  
   if (carousel.first == 1)
     $('img#navigate-left').hide();
   else
       $('img#navigate-left').show();
   
   if (carousel.first == carousel.size())
     $('img#navigate-right').hide();
   else
     $('img#navigate-right').show();
}

</script>

</head>

<body>
<div id="fb-root-wrapper">
  <div id="fb-root"></div>
</div>

<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '400302213341521', // App ID
      channelUrl : '//<%= request.host_with_port %>/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
   FB.Canvas.setSize({ height: 2350 });    
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<script>

function initiate_feed() {
//FB.UIServer.Methods["feed"].size = {width:450, height:270};
//scroll = $(window).scrollTop();

//window.scrollTo(scroll+500);
FB.ui(
  {
   method: 'feed',
   message: 'Facebook Connect',
   name: eval("unescape($.data(document.body, 'current_fb_name').toString());"),
   description: eval("unescape($.data(document.body, 'current_fb_description').toString());"),
   /*link: eval("encodeURI($.data(document.body, 'current_fb_link').toString());") , */
   caption: '',
   link: 'http://www.facebook.com/aveeno',
   picture: eval("encodeURI($.data(document.body, 'current_fb_share_icon').toString());"),
   actions: [
        { name: 'Be an Active Natural', link: 'http://www.be-an-active-natural.com/' }
   ],
  user_message_prompt: 'This message prompt'
  },
  function(response) {
  }
);

}
</script>
<div id="content_wrapper">
  <img src="/BAAN_mission.png" id="our_mission_header" />
  <img src="/be_an_active.png" id="be_an_active_image"/>
  <div style="text-align:center; width:513px; margin-left:auto; margin-right:auto;">
    <img id="Image-Maps_2201203081508179" style="width: 493px; height: 450px;" src="/Profile_Scanner_frame1.gif" usemap="#Image-Maps_2201203081508179" border="0" width="513" height="481" alt="" 	/>
    <map id="_Image-Maps_2201203081508179" name="Image-Maps_2201203081508179">
      <area shape="rect" coords="165,232,351,266"  id="scan_profile_link" alt="" title="" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_scan_now','Landing Page']);"   />
    </map>
    
    <img id="scanning" src="/pScannerAni.gif"/>
    <img src="/activeNaturalRings.png" id="active_natural_rings"/>

	<div>
	<img id="garden_image" src="/garden2.png" usemap="#Image-Maps_4201204052324459" border="0" width="515" height="414" alt="" />
	<map id="_Image-Maps_4201204052324459" name="Image-Maps_4201204052324459">
	<area shape="rect" coords="185,344,335,379" target="_top" href="https://www.facebook.com/aveeno/app_295805387151302" alt="" title=""  onClick="_gaq.push(['_trackEvent','Landing Page', 'click_learn_contest','Landing Page']);"  />
	</map>
	</div>
            

  </div>
  <div id="our_commitment">   <img src="/gallery_header.png" id="gallery_header" /><br/><img id="fb_share_btn" src="/bttn_share.png" onclick="initiate_feed(); _gaq.push(['_trackEvent','Landing Page', 'click_share_image', $.data(document.body, 'current_fb_name')]); return false;" /> 
      <div id="gallery_widget_box" class="jcarousel-skin-tango">
	<img src="/arrow_left.png" id="navigate-left" />
	  <ul id="our_commitment_gallery">
	    <% @images.each do |image| %>
	       <li>
		<img src="<%= image.item.url %>" header_url="<%= image.titleimage.url %>" icon_link="<%= image.copy %>" fb_link="<%=  URI.escape(image.fb_link) %>" fb_name="<%= URI.escape(image.fb_title) %>" fb_description="<%= URI.escape(image.fb_copy) %>" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_image', $.data(document.body, 'current_fb_name')]);" />
	      </li>
	    <% end %>
	   
	  </ul>
	<img src="/arrow_right.png" id="navigate-right" />
      </div>
    </div>

  <img src="/footer.png" id="footer"/><br /><br/>
  <div id="legal" style="padding-left: 6px; padding-right: 6px;"><br/>
  No purchase necessary to enter or win. Void where prohibited. Must be a legal resident of the United States or the District of Columbia, 18 years of age or older as of date of Application. Program starts at 12:00 p.m. ET on 4/10/12 and ends at 12:00 p.m. ET on 10/31/12. Subject to Official Rules <a href="" onClick="window.open('https://aveenoactivenaturals.dja.com/common/rules.html','','scrollbars=yes,menubar=no,width=544,height=600,left=' + (window.width/2 - 277) + ',resizable=yes,toolbar=no,location=no,status=no');return false;" style="color: #76902b;">here</a>. Sponsor: Johnson & Johnson Consumer Products Company Division of Johnson & Johnson Consumer Companies, Inc.<br/><br/> 

© Johnson & Johnson Consumer Companies, Inc. 2012. This application is published by Johnson & Johnson Consumer Products Company Division of Johnson & Johnson Consumer Companies, Inc., which is solely responsible for its content. It is intended for visitors from the U.S. <br/><br/>

This Contest is in no way sponsored, endorsed or administered by, or associated with, Facebook.<br/>
You understand that you are providing your information to Johnson & Johnson Consumer Products<br/>
Company Division of Johnson & Johnson Consumer Companies, Inc. and not to Facebook.
<br/><br/>
 	<div id="legal_links">
   	<a href="" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_rules','Landing Page']);window.open('https://aveenoactivenaturals.dja.com/common/rules.html','','scrollbars=yes,menubar=no,width=544,height=600,left=' + (window.width/2 - 277) + ',resizable=yes,toolbar=no,location=no,status=no');return false;">Official Rules</a>&nbsp;&nbsp;&nbsp;
	<a href="http://www.aveeno.com/privacy-policy" target="_blank" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_privacy_policy']);">AVEENO&reg; Privacy Policy</a>&nbsp;&nbsp;&nbsp;
        <a href="http://www.aveeno.com/legal-notice" target="_blank" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_legal_notice']);">AVEENO&reg; Legal Notice</a>&nbsp;&nbsp;&nbsp;
<a href="" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_faqs','Landing Page']);window.open('https://aveenoactivenaturals.dja.com/common/faq.html','','scrollbars=yes,menubar=no,width=544,height=600,left=' + (window.width/2 - 277) + ',resizable=yes,toolbar=no,location=no,status=no');return false;">FAQs</a>&nbsp;&nbsp;&nbsp;

        </div>
 </div>
  
</div>


            
</body>
</html>
