/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body
{
  background-color: #ffffff;
  font-family: arial, helvetica, verdana;
  font-size: 12px;
  color: #2d2821;
}

div#legal
{
  font-size: 10px;
  background-color: #fff;
  color: #909090;
  font-family: arial, helvetica, verdana;
}

img#our_mission_header
{
  position: relative;
  margin-bottom: 25px;
}

div#legal_links a
{
  font-size: 10px;
  font-family: arial, helvetica;
}

div#content_wrapper
{
  background-color: #e0e3d8;
  width: 520px;
  margin-left: auto;  
  margin-right:auto;
}

.jcarousel-container-horizontal
{
  width: 300px;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



div#what_that_means
{
  height: 125px;
  margin-top: 24px;
}

div#friends_and_family
{
  height: 160px;
}

div#in_nature
{
  height: 74px;
}

div#result_header
{
  height: 86px;
  padding-left: 93px;
  margin-bottom: 36px;
}


div#beautiful_change_idea
{
  margin-bottom: 20px;
}


div#our_commitment
{
  height: 650px;
  background-image: url('/BAAN_commitment.png');
  background-repeat: none;
}

img#scanning
{
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

div#result_content_wrapper
{
  background-color: #e0e3d8;
  background-repeat: no-repeat;
  width: 520px;
  margin-left: auto;
  margin-right:auto;
  height: 1107px;
}

#fb-root
{
  z-index: 99999;
  position: fixed;
  
}

img#garden_image
{
  margin-top: 20px;
}

div#fb-root-wrapper
{
  position: fixed;
  top: 0%;
  left: -140px;
  
}

div#result_content
{
  top: 10px;
  position: relative;
  width: 485px;
  margin: auto;
}

div#result_content a:hover
{
  text-decoration: none;
}

a#goback
{
  float: right;
  position: relative;
  top: 25px;
  font-size: 11px;
}

img#footer
{
  position: relative;
  left: 1px;
  top: 17px;
}

div#coupon
{
   width: 450px;
   height: 135px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   -moz-border-radius: 5px;
   margin: auto;
   background-color: #ffffff;
   margin-bottom: 4px;
   display:none;
}

img#product_image
{
  float: left;
  position: relative;
 /* left: -15px;
  top: 18px; */
}

img#navigate-left
{
  position: absolute;
  float: left;
  left: 0px;
  top: 36%;
  cursor: pointer;
  z-index: 1000;
}

div.modbody
{
  width: 540px;
}

img#navigate-right
{
  position: absolute;
  float: right;
  right: -1px;
  top: 36%;
  cursor: pointer;
  z-index: 1000;
}

ul, ol {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div#gallery_widget_box li 
{
  display: inline;
  width: 300px;
}



ul#our_commitment_gallery
{
  width: 300px;
  height: 312px;
  margin-left: auto;
  margin-right: auto;
  
}

div#gallery_widget_box
{
  position: relative;
  left: 32px;
  top: 248px;
  height: 353px;
  width: 450px;
}

img#gallery_header
{
  position: relative;
  /*left: 47px; */
  top: 250px;
  z-index: 1000;
  margin-left: 30px;
  margin-bottom: 20px;
}

img#fb_share_btn
{
  position: absolute;
  top: 1555px;
  left: 378px;
  z-index: 50000;
  cursor: pointer;
  /* background-image: url('/bttn_share.png'); */
  width: 73px;
  height: 25px;
}

ul#our_commitment_gallery img
{
  border-radius: 10px;
}

h3 
{
  font-size: 12px;
}

h2
{
}

div#product_area
{
  width: 475px;
  height: 240px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
}

span#product_title
{
  font-size: 17px;
  
  position: relative;
   left: 0px;
   top: 20px;
   width: 460px;
}

div#product_description
{
  font-size: 13px;
  position: relative;
  left: 0px;
  top: 20px;
  margin-top: 12px;
  width: 460px;
}

span#product_header
{
  font-size: 16px;
}

img#be_an_active_image
{
  margin-bottom: 10px;
}

img#Image-Maps_2201203081508179
{
  position: relative;
  margin-top: 0px;
}

a#facebook_dialog_link
{
  cursor: pointer;
}

img#active_natural_rings
{
  position: absolute;
  top: 700px;
  z-index: 1000;
  left: 175px;
}

a#redeemnow
{
  position: relative;
  top: 35px;
}

a#gallery_share  {
  background-image: url('/bttn_share.png');
}

hr
{
  background-image: url('/bar.png');
  height: 1px;
  clear: both;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1px;
  display: block;
}
