<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "https://connect.facebook.net/en_US/all.js"  %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
