<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
  <style>
   
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
